.button {
    border: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    background-color: orange;
    border-radius: 10px;
    color: #fff;
    z-index: 3;
}

.button_add {
    background-color: transparent;
    border: 1px solid #fff;
}

.main-button__container {
    position: absolute;
    left: 20px;
    bottom: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    z-index: 3;
}