.popup-form {
	display: flex;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	z-index: 2;
}

.popup-form__container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 500px;
	/* height: 560px; */
	padding: 10px 20px;
	background-color: #fff;
	border-radius: 10px;
}

.popup-form_opened {
	opacity: 1;
	visibility: visible;
}

.popup-form__title {
	font-family: Unbounded;
	margin: 0;
	color: #000;
}

.input__field {
	margin: 15px 0 0 0;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 18px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 0.5px solid #9ca3af;
}

.textarea__field {
	margin: 15px 0 0 0;
	resize: none;
	min-height: 200px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 18px;
	padding: 10px 15px;
	border-radius: 10px;
	border: 0.5px solid #9ca3af;
}
.popup-form__button {
	height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    line-height: 138%;
    font-size: 16px;
    background-color: orange;
    cursor: pointer;
}

.popup-form__close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: -50px;
	right: -50px;
	background-image: url(../../images/close-button.svg);
	background-color: transparent;
	background-size: cover;
	padding: 0;
	margin: 0;
	border: none;
}

.popup-form__items {
	color: #000;
}

.popup-form__items__title {
	font-family: Unbounded;
}

.popup-form__items__list {
	padding: 0 20px;
}