.item-page {
    background-color: #fff;
    max-width: 1260px;
    padding: 50px 0 100px 0;
    margin: 0 auto;
}

.item-page__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .item-page__text-container {

} */

.item-page__price-container {
    position: relative;
}

.item-page__image {
    width: 400px;
    height: 400px;
}