.slick-slider_container {
	/* margin:  165px 100px; */
}

.slick-slider_title {
	margin: 0 0 45px;
	text-align: left;
	color: white;
	font-family: 'Unbounded';
	font-size: 35px;
	font-weight: 700;
	line-height: 43.5px;
}

.slick-slider {
	max-width: 920px;
	display: flex;
	justify-content: center;
	text-align: left;
}
