.footer {
    display: flex;
	align-items: center;
    justify-content: space-between;
	height: 118px;
	gap: 30px;
	background: #f1f1f1;
	max-width: 1440px;
	margin: 0 auto;
}

.footer__text {
    color: red;
}

.footer__container {
    margin: 0 20px 0 0;
}