.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #f1f1f1;
    width: 100%;
    margin: 0 auto;
    transition: opacity 0.3s ease; 
}

.nav__link {
    color: rgb(10, 24, 43);
    text-decoration: none;
    margin: 0 15px 0 15px;
}

.telephone__container {
    margin: 0 20px 0 0;
}
